<!DOCTYPE html>

<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="confirmation" method="get" id="instance_form" >


<table align="center">
		<tr>
				<td> Select AMI
				</td>
				<td>
						<select id="amiid" name="amiid">
										<option value="ami-09725f5b">snapdeal_hvm_image </option>
										<option value="ami-18dfe24a">SD-CentOS-Official-AMI-HVM-DevOps</option>
						</select>
				</td>
		</tr>
		<tr>
				<td> Instance Type
				</td>
				<td>
					 <select id="instancetype" name="instancetype" >
                                                        {% for i in instance_type_list %}
                                                                        <option value={{ i }} >
                                                                                  {{ i }}
                                                                        </option>
                                                         {% endfor %}
						</select>
				</td>
		</tr>
		<tr>
				<td> Subnet 
				</td>
				<td>	
						<select id="subnet" name="subnet">
							{% for subnet_id, subnet_value in subnet_dict.items %}

									<option value={{ subnet_id }} >
								                  {{ subnet_value }}
									</option>
							 {% endfor %}

						</select>
				</td>
		</tr>
		<tr>
                                <td> Security Groups
                                </td>
                                <td>
                                                <select id="securitygrp" name="securitygrp" size="5" multiple="multiple">
                                                        {% for security_id, security_value in security_group_dict.items %}

                                                                        <option value={{ security_id }}>
                                                                                  {{ security_value }}
                                                                        </option>
                                                         {% endfor %}

                                                </select>
                                </td>
                </tr>

		<tr>
				<td> Instance Name
				</td>
				<td>
				    <input type="text" id="intsname" name="intsname" />
				</td>
		</tr>
		<tr>
                                <td> SSH Key
                                </td>
                                <td>
					 <select id="ssh" name="ssh" >
							<option> lancer </option>
					 </select>

                                </td>
                </tr>

		<tr>
				<td> Component Name
				</td>
				<td>
					<input type="text" id="component" name="component" />
				</td>
		</tr>
		<tr>
				<td>Number of instances
				</td>
				<td>
					<input type="text" id="instancecount" name="instancecount" />
				</td>
		</tr>
		<tr align="center">
				<td align="center" colspan="2">
					<input type="button" onClick="return check()" value="Create Instance"/>
				</td>
		</tr>
</table>
<input type="hidden" id="hiddengrp" name="hiddengrp"/>

</form>
<script language="Javascript">
function check()

{
alert('1111111111111111111')
if (document.getElementById('instancecount').value.trim() >2)
{
                    alert ("More than 2 instances cannot be created simultaneously");
                    return false;
}

 if (document.getElementById('intsname').value.trim().length <= 0||document.getElementById('component').value.trim().length <= 0 
                 || document.getElementById('instancecount').value.trim().length <= 0)
                {
                    alert ("Please enter all the desired fields");
                    return false;
                }
else
{
	alert ("All field have been entered");
		    var list=document.getElementById('securitygrp')
		    var grplist=""
		    for (var i = 0; i < list.options.length; i++) 
			{
			     if(list.options[i].selected ==true)
				{
				var temp=list.options[i].value
				grplist=grplist+','+temp	
      				}
			}
	   document.getElementById('hiddengrp').value=grplist;
	   document.getElementById("instance_form").submit();
                return true;
}
}
</script>

</body>
</html>
